@charset "utf-8";

/*
  Final

  HTML Final
  Author: Dylan Brune
  Date: December 7, 2018

  Filename: fe_print.html
*/

/* Print Styles */

@page {
  size: 8.5in 11in;
  margin: 0.5in;
}

html, body, header, section, table {
  background: none;
  color: black;
}

body {
  width: 100%;
  box-shadow: none;
}

/* Hypertext Styles */

a {
  color: black;
  text-decoration: none;
}

a::after {
  content: " (" attr(href) ") ";
  font-weight: bold;
  word-wrap: break-word;
}

/* Page Break Styles */

aside {
  page-break-after: always;
}

ul, img {
  page-break-inside: avoid;
}

p {
  width:100%;
  widows: 10;
  orphans: 10;
}

/* Styles */

div.grid {
  display: block;
  clear: both;
}

div[^="col"] {
  clear: both;
  width: 100%;
}

p{
  widows: 10;
  orphans: 10;
}

table#links {
  display: block;
  clear: both;
}

table#links tbody {
  clear: both;
  width: 100%;
}

th, tr, td {
  widows: 10;
  orphans: 10;
}
