@charset "utf-8";
/*  */

@import url("../navicon.css");

header h1 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  font-size: 3.5em;
}

nav#top ul li {
  text-align: center;
}

@media only screen and (max-width: 640px) {

  body {
    width: 100%;
  }

  header h1 {
    background-color: rgb(179, 179, 179);
    line-height: 1em;
  }

  a#navicon {
    display: block;
  }

  nav#top {
    background-color: rgb(70, 70, 70);
  }

  nav#top a {
    color: rgb(255, 165, 0);
    font-size: 2.5em;
  }

  body > header > nav > ul > li:hover,
  body > header > nav > ul > li:active {
    background-color: rgb(128, 128, 128);
  }

  aside nav#leftNavigation {
    width: 100%;
  }

  aside nav#leftNavigation ul li {
    border: 3px solid rgb(255, 165, 0);
    border-radius: 10px;
    width: 50%;
    float: left;
  }

  aside nav#leftNavigation ul li {
    text-align: center;
    padding-top: 1.5%;
    padding-bottom: 2%;
    font-size: 1.7em;
    background-color: #999999;
  }

  nav#leftNavigation a {
    color: black;
    font-size: 1.3em;
  }

  aside > nav#leftNavigation > ul > li:hover,
  aside > nav#leftNavigation > ul > li:active {
    border: 3px double rgb(255, 165, 0);
  }

  aside > nav#leftNavigation > ul > li > a:hover,
  aside > nav#leftNavigation > ul > li > a:active {
    color: rgb(255, 165, 0);
  }

  body > header > nav > ul > li:hover,
  body > header > nav > ul > li:active {
    background-color: rgb(128, 128, 128);
  }

  section {
    line-height: 2em;
    font-size: 1.3em;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 1.3%;
    padding-right: 1.3%;
  }

  section h1 {
    font-size: 1.5em;
    margin-bottom: 0.8%;
    border-bottom: 3px dotted rgb(77, 77, 77);
  }

  div.grid {
    width: 100%;
  }

  div.row-1 {
    width: 50%;
    float: left;
    padding-bottom: 1%;
  }

  div.row-2 {
    width: 50%;
    float: right;
  }

  p::first-letter {
    padding-left: 2%;
  }

  footer {
    background-color: rgb(153, 153, 153);
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  footer h2 {
    text-decoration: underline;
    font-size: 2em;
    padding-bottom: 3%;
  }

  footer ul {
    font-size: 1em;
  }

  footer a {
    color: rgb(255, 165, 0);
    text-decoration: none;
    font-size: 1.5em;
  }

  footer > nav > ul > li > a:hover,
  footer > nav > ul > li > a:active {
    color: rgba(255, 255, 255, 0.6);
  }

}

@media only screen and (min-width: 641px) {

  html {
    background: url('../brighthtml.jpg') no-repeat fixed 60% 0%;
    /*  */
  }

  body {
    font-family: 'Verdana', Sans-serif;
    background: radial-gradient(rgb(153, 153, 153), white);
    width: 100%;
    max-width: 1100px;
    min-width: 720px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: rgb(0, 0, 0) 30px 0px 100px,
                rgb(0, 0, 0) -30px 0px 100px;
  }

  header h1 {
    background: url("../banner.jpg") no-repeat fixed;
    /*  */
    background-repeat: round;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 110px;
    padding-bottom: 110px;
    text-align: center;
    color: white;
    font-size: 3.5em;
    line-height: 1em;
  }

  nav#top {
    padding-top: 1%;
    padding-bottom: 1%;
  }

  nav#top ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;


    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
  }

  nav#top ul li {
    text-align: center;
    font-size: 2.2em;
    -webkit-flex: 1 1 130px;
    flex: 1 1 130px;
    font-size: 2em;
  }

  body header a {
    color: black;
  }

  body > header > nav > ul > li > a:hover,
  body > header > nav > ul > li > a:active {
    text-shadow: rgb(0, 0, 0) 5px 5px 10px;
    color: rgba(255, 165, 0, 0.6);
  }

  aside nav#leftNavigation {
    width: 100%;
    background-color: #999999;
  }

  aside nav#leftNavigation ul li {
    border: 3px solid rgba(255, 165, 0, 0.6);
    border-radius: 10px;
    width: 16.66%;
    float: left;
    text-align: center;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    font-size: 1.3em;
    background-color: #999999;
  }

  aside nav#leftNavigation a {
    color: black;
    font-size: 1.3em;
  }

  aside > nav#leftNavigation > ul > li:hover,
  aside > nav#leftNavigation > ul > li:active {
    box-shadow: rgb(0, 0, 0) 5px 5px 5px;
    border: 3px double rgba(255, 165, 0, 0.6);
  }

  aside > nav#leftNavigation > ul > li > a:hover,
  aside > nav#leftNavigation > ul > li > a:active {
    text-shadow: rgb(0, 0, 0) 5px 5px 10px;
    color: rgba(255, 165, 0, 0.6);
  }

  section {
    line-height: 2em;
    font-size: 1.3em;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 1.3%;
    padding-right: 1.3%;
  }

  section h1 {
    font-size: 1.5em;
    margin-bottom: 0.8%;
    border-bottom: 3px dotted rgb(77, 77, 77);
  }

  div.grid {
    width: 100%;
  }

  div.row-1 {
    width: 50%;
    float: left;
    padding-bottom: 2%;
  }

  div.row-2 {
    width: 50%;
    float: right;
  }

  p::first-letter {
    padding-left: 2%;
  }

  footer {
    background-color: rgb(153, 153, 153);
    text-align: center;
    padding-bottom: 1%;
  }

  footer h2 {
    background-color: rgb(153, 153, 153);
    padding-top: 1%;
    padding-bottom: 1%;
    text-decoration: underline;
    font-size: 1.3em;
  }

  footer ul {
    font-size: 1.1em;
  }

  footer a {
    color: rgb(255, 165, 0);
    text-decoration: none;
    font-size: 1.2em;
  }

  footer > nav > ul > li > a:hover,
  footer > nav > ul > li > a:active {
    color: rgba(255, 255, 255, 0.6);
  }

}
