@charset "utf-8";

/*
  Final

  HTML Final
  Author: Dylan Brune
  Date: December 7, 2018

  Filename: fe_reviewstyle.html
*/

/* Import Style */

@import url("../navicon.css");

/* Header Style */

header h1 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
}

/* Navigation Top Styles */

nav#top ul li {
  text-align: center;
}

/* ===============================
	Mobile Styles up to 640 pixels
   ===============================
*/

@media only screen and (max-width: 640px) {

  /* Body Style */

  body {
    width: 100%;
    background-color: rgb(179, 179, 179);
  }

  /* Header Style */

  header h1 {
    background-color: rgb(179, 179, 179);
    font-size: 3em;
    line-height: 1em;
  }

  /* Navicon Style */

  a#navicon {
    display: block;
  }

  /* Navigation Top Style */

  nav#top {
    background-color: rgb(70, 70, 70);
  }

  nav#top a {
    color: rgb(255, 165, 0);
    font-size: 2.5em;
  }

  body > header > nav > ul > li:hover,
  body > header > nav > ul > li:active {
    background-color: rgb(128, 128, 128);
  }

  /* Navigation Left Styles */

  aside nav#leftNavigation {
    width: 100%;
  }

  aside nav#leftNavigation ul li {
    border: 3px solid rgb(255, 165, 0);
    border-radius: 10px;
    width: 50%;
    float: left;
  }

  aside nav#leftNavigation ul li {
    text-align: center;
    padding-top: 1.5%;
    padding-bottom: 2%;
    font-size: 1.7em;
    background-color: #999999;
  }

  nav#leftNavigation a {
    color: black;
    font-size: 1.3em;
  }

  aside > nav#leftNavigation > ul > li:hover,
  aside > nav#leftNavigation > ul > li:active {
    border: 3px double rgb(255, 165, 0);
  }

  aside > nav#leftNavigation > ul > li > a:hover,
  aside > nav#leftNavigation > ul > li > a:active {
    color: rgb(255, 165, 0);
  }

  body > header > nav > ul > li:hover,
  body > header > nav > ul > li:active {
    background-color: rgb(128, 128, 128);
  }

  /* Section Styles */

  section {
    line-height: 2em;
    font-size: 1.3em;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 1.3%;
    padding-right: 1.3%;
  }

  section h1 {
    font-size: 1.5em;
    margin-bottom: 0.8%;
    border-bottom: 3px dotted rgb(77, 77, 77);
  }

  /* Div Styles */

  div.grid {
    width: 100%;
  }

  div.row-1 {
    width: 50%;
    float: left;
    padding-bottom: 1%;
  }

  div.row-2 {
    width: 50%;
    float: right;
  }

  p::first-letter {
    padding-left: 2%;
  }

  /* Footer Styles */

  footer {
    background-color: rgb(153, 153, 153);
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  footer h2 {
    text-decoration: underline;
    font-size: 2em;
    padding-bottom: 3%;
  }

  footer ul {
    font-size: 1em;
  }

  footer a {
    color: rgb(255, 165, 0);
    text-decoration: none;
    font-size: 1.5em;
  }

  footer > nav > ul > li > a:hover,
  footer > nav > ul > li > a:active {
    color: rgba(255, 255, 255, 0.6);
  }

}

/* ============================================
	Tablet and Desktop Devices: 641px or more
   ============================================
*/

@media only screen and (min-width: 641px) {

  /* HTML Style */

  html {
    background: url('../brighthtml.jpg') no-repeat fixed 60% 0%;
    /* Image from https://pixabay.com/en/coding-computer-hacker-hacking-1841550/ */
  }

  /* Body Style */

  body {
    font-family: 'Verdana', Sans-serif;
    background: radial-gradient(rgb(153, 153, 153), white);
    width: 100%;
    max-width: 1100px;
    min-width: 720px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: rgb(0, 0, 0) 30px 0px 100px,
                rgb(0, 0, 0) -30px 0px 100px;
  }

  /* Header Style */

  header h1 {
    background: url("../banner.jpg") no-repeat fixed;
    /* Image from https://pixabay.com/en/web-banner-abstract-internet-1012467/ */
    background-repeat: round;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 110px;
    padding-bottom: 110px;
    text-align: center;
    color: white;
    line-height: 1em;
    font-size: 5em;
  }

  /* Navigation Top Style */

  nav#top {
    padding-top: 1%;
    padding-bottom: 1%;
  }

  nav#top ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;


    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
  }

  nav#top ul li {
    text-align: center;
    font-size: 2.5em;
    -webkit-flex: 1 1 130px;
    flex: 1 1 130px;
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom: 3px solid rgb(70, 70, 70);
  }

  body header a {
    color: black;
  }

  body > header > nav > ul > li > a:hover,
  body > header > nav > ul > li > a:active {
    text-shadow: rgb(0, 0, 0) 5px 5px 10px;
    color: rgba(255, 165, 0, 0.6);
  }

  /* Navigation Left Styles */

  aside nav#leftNavigation {
    width: 100%;
    background-color: #999999;
  }

  aside nav#leftNavigation ul li {
    border: 3px solid rgba(255, 165, 0, 0.6);
    border-radius: 10px;
    width: 33.33%;
    float: left;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 2em;
    line-height: 1em;
    margin-left: auto;
    margin-right: auto;
    background-color: #999999;
  }

  aside nav#leftNavigation a {
    color: black;
    font-size: 1.3em;
  }

  aside > nav#leftNavigation > ul > li:hover,
  aside > nav#leftNavigation > ul > li:active {
    box-shadow: rgb(0, 0, 0) 5px 5px 5px;
    border: 3px double rgba(255, 165, 0, 0.6);
  }

  aside > nav#leftNavigation > ul > li > a:hover,
  aside > nav#leftNavigation > ul > li > a:active {
    text-shadow: rgb(0, 0, 0) 5px 5px 10px;
    color: rgba(255, 165, 0, 0.6);
  }

  /* Section Styles */

  section {
    line-height: 2em;
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 1.3%;
    padding-right: 1.3%;
  }

  section h1 {
    font-size: 2em;
    margin-bottom: 0.8%;
    border-bottom: 3px dotted rgb(77, 77, 77);
  }

  /* Div Styles */

  div.grid {
    width: 100%;
    padding-bottom: 23%;
  }

  div.row-1 {
    width: 50%;
    float: left;
  }

  div.row-2 {
    width: 50%;
    float: right;
  }

  p {
    font-size: 1.2em;
  }

  p::first-letter {
    padding-left: 2%;
  }

  /* Footer Styles */

  footer {
    background-color: rgb(153, 153, 153);
    text-align: center;
    padding-bottom: 1%;
  }

  footer h2 {
    background-color: rgb(153, 153, 153);
    padding-top: 2%;
    padding-bottom: 3%;
    text-decoration: underline;
    font-size: 2.1em;
  }

  footer ul {
    font-size: 1.5em;
  }

  footer li {
    padding-bottom: 2%;
  }

  footer a {
    color: rgb(255, 165, 0);
    text-decoration: none;
    font-size: 1em;
  }

  footer > nav > ul > li > a:hover,
  footer > nav > ul > li > a:active {
    color: rgba(255, 255, 255, 0.6);
  }

}
